
@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">

    <form class="forms-smaple">
    <div class="input-group mb-3">

       <input type="file" class="form-control" id="customFile" />

    </div>


    <div class="buttons my-3">

        <button type="submit" class="btn  btn-primary mr-2 ">Submit</button>
        <a class="btn btn-info" asp-action="Index">Cancel</a>
    </div>
    </form>


</div>


